{% extends "base.html" %}
{% block content %}
    <div class="container mt-5">
        <h1 class="text-center mb-4">Укорачиватель ссылок</h1>
        <form method="POST" action="" novalidate>
            {{ form.csrf_token }}
            <div class="mb-3">
                <label for="original-url" class="form-label">{{ form.url.label }}</label>
                {{ form.url(class="form-control") }}
            </div>
            {{ form.submit(class="btn btn-primary mb-3") }}
        </form>
    </div>
{% endblock %}